In [4]:
import re, random
from pathlib import Path
import json
import pandas as pd
import numpy as np
from pandas import DataFrame
import os, sys
import torch
from torch import nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils import data
from scipy.sparse import csr_matrix
import anndata as ad

counts = csr_matrix(np.random.poisson(1, size=(100, 2000)), dtype=np.float32)
adata = ad.AnnData(counts)
adata

AnnData object with n_obs × n_vars = 100 × 2000

In [8]:
adata.obs_names = [f"Cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"Gene_{i:d}" for i in range(adata.n_vars)]
print(adata.obs_names[:10])
print(adata.n_obs)
print(adata.n_vars)

Index(['Cell_0', 'Cell_1', 'Cell_2', 'Cell_3', 'Cell_4', 'Cell_5', 'Cell_6',
       'Cell_7', 'Cell_8', 'Cell_9'],
      dtype='object')
100
2000

In [9]:
ct = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type"] = pd.Categorical(ct)  # Categoricals are preferred for efficiency
adata.obs

        cell_type
Cell_0          B
Cell_1          B
Cell_2          B
Cell_3          T
Cell_4          B
...           ...
Cell_95         B
Cell_96         B
Cell_97         T
Cell_98         B
Cell_99         B

[100 rows x 1 columns]

In [11]:
print(adata)
bdata = adata[adata.obs.cell_type == 'B']
print(bdata)

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
View of AnnData object with n_obs × n_vars = 46 × 2000
    obs: 'cell_type'

In [12]:
ct2 = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type2"] = ct2  # Categoricals are preferred for efficiency
adata.obs

        cell_type cell_type2
Cell_0          B          T
Cell_1          B          B
Cell_2          B          B
Cell_3          T   Monocyte
Cell_4          B   Monocyte
...           ...        ...
Cell_95         B   Monocyte
Cell_96         B          B
Cell_97         T          T
Cell_98         B          B
Cell_99         B          T

[100 rows x 2 columns]

In [15]:
# print(adata.obs.index)
print(adata.var)

Empty DataFrame
Columns: []
Index: [Gene_0, Gene_1, Gene_2, Gene_3, Gene_4, Gene_5, Gene_6, Gene_7, Gene_8, Gene_9, Gene_10, Gene_11, Gene_12, Gene_13, Gene_14, Gene_15, Gene_16, Gene_17, Gene_18, Gene_19, Gene_20, Gene_21, Gene_22, Gene_23, Gene_24, Gene_25, Gene_26, Gene_27, Gene_28, Gene_29, Gene_30, Gene_31, Gene_32, Gene_33, Gene_34, Gene_35, Gene_36, Gene_37, Gene_38, Gene_39, Gene_40, Gene_41, Gene_42, Gene_43, Gene_44, Gene_45, Gene_46, Gene_47, Gene_48, Gene_49, Gene_50, Gene_51, Gene_52, Gene_53, Gene_54, Gene_55, Gene_56, Gene_57, Gene_58, Gene_59, Gene_60, Gene_61, Gene_62, Gene_63, Gene_64, Gene_65, Gene_66, Gene_67, Gene_68, Gene_69, Gene_70, Gene_71, Gene_72, Gene_73, Gene_74, Gene_75, Gene_76, Gene_77, Gene_78, Gene_79, Gene_80, Gene_81, Gene_82, Gene_83, Gene_84, Gene_85, Gene_86, Gene_87, Gene_88, Gene_89, Gene_90, Gene_91, Gene_92, Gene_93, Gene_94, Gene_95, Gene_96, Gene_97, Gene_98, Gene_99, ...]

[2000 rows x 0 columns]