In [19]:
import re, random
from pathlib import Path
import json
import pandas as pd
import numpy as np
from pandas import DataFrame
import os, sys
from scipy.sparse import csr_matrix
import anndata as ad
import math
from icecream import ic
ic.configureOutput(includeContext=True, argToStringFunction=lambda _: str(_))


counts = csr_matrix(np.random.poisson(1, size=(10, 20)), dtype=np.float32)
adata = ad.AnnData(counts)
print(adata)
print(adata.obs_names)

adata.obs_names = [f"Cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"Gene_{i:d}" for i in range(adata.n_vars)]
print(adata.obs_names[:10])
print(adata.n_obs)
print(adata.n_vars)
print(adata.obs)
print()
print(adata.var)
ct = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type"] = pd.Categorical(ct)  # Categoricals are preferred for efficiency
print(adata[["Cell_1", "Cell_10"], ["Gene_5", "Gene_1900"]])
adata.obs

AnnData object with n_obs × n_vars = 10 × 20
Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
Index(['Cell_0', 'Cell_1', 'Cell_2', 'Cell_3', 'Cell_4', 'Cell_5', 'Cell_6',
       'Cell_7', 'Cell_8', 'Cell_9'],
      dtype='object')
10
20
Empty DataFrame
Columns: []
Index: [Cell_0, Cell_1, Cell_2, Cell_3, Cell_4, Cell_5, Cell_6, Cell_7, Cell_8, Cell_9]

Empty DataFrame
Columns: []
Index: [Gene_0, Gene_1, Gene_2, Gene_3, Gene_4, Gene_5, Gene_6, Gene_7, Gene_8, Gene_9, Gene_10, Gene_11, Gene_12, Gene_13, Gene_14, Gene_15, Gene_16, Gene_17, Gene_18, Gene_19]

       cell_type
Cell_0         T
Cell_1         B
Cell_2         B
Cell_3  Monocyte
Cell_4         B
Cell_5         B
Cell_6         T
Cell_7         B
Cell_8         T
Cell_9         B

In [20]:
print(adata)
bdata = adata[adata.obs.cell_type == 'B']
print(bdata)

ct2 = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type2"] = ct2  # Categoricals are preferred for efficiency
adata.obs

AnnData object with n_obs × n_vars = 10 × 20
    obs: 'cell_type'
View of AnnData object with n_obs × n_vars = 6 × 20
    obs: 'cell_type'

       cell_type cell_type2
Cell_0         T          T
Cell_1         B          B
Cell_2         B   Monocyte
Cell_3  Monocyte          B
Cell_4         B          B
Cell_5         B   Monocyte
Cell_6         T          B
Cell_7         B   Monocyte
Cell_8         T   Monocyte
Cell_9         B          B

In [25]:
counts = csr_matrix(np.random.poisson(1, size=(10, 20)), dtype=np.float32)
new = ad.AnnData(counts)
new.obs[adata.obs.columns] = adata.obs[adata.obs.columns].values
# print(new.obs)
new.raw = new
print(new)
celltype = ("alpha","beta","ductal","acinar","delta","PP","PSC","endothelial","epsilon","mast")
print(len(celltype))
adata.obs['Prediction'] = random.sample(list(celltype), k=10)
# print(adata.obs['Prediction'])
adata.obs['Prediction'] = adata.obs['Prediction'].astype('category')
print(adata.obs['Prediction'])
adata.obs['Prediction'] = adata.obs['Prediction'].cat.reorder_categories(list(celltype))

AnnData object with n_obs × n_vars = 10 × 20
    obs: 'cell_type', 'cell_type2', 'Prediction'
10
Cell_0        epsilon
Cell_1            PSC
Cell_2           beta
Cell_3          alpha
Cell_4    endothelial
Cell_5           mast
Cell_6             PP
Cell_7         ductal
Cell_8          delta
Cell_9         acinar
Name: Prediction, dtype: category
Categories (10, object): ['PP', 'PSC', 'acinar', 'alpha', ..., 'ductal', 'endothelial', 'epsilon', 'mast']